<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${lang}"
	data-bs-theme="dark">
<head th:replace="~{fragments/header :: head}">
</head>
<body>
	<div th:replace="~{fragments/menu :: menu}"></div>
	<div th:replace="~{fragments/modalCharacterGeneration :: modal}"></div>
	<div th:replace="~{fragments/modalCharacterUpload :: modal}"></div>

	<div th:replace="~{fragments/character/showCharacter :: character_sheet}"></div>

	<!--/*	<div th:replace="~{fragments/colorMode :: colorSwitch}"></div> */-->

	<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>