<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<th:block th:fragment="modal">
		<!--/* <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
			  Launch demo modal
		</button> */-->
		<!-- Modal Character Generator -->
		<div class="modal fade" id="characterGeneratorModal" tabindex="-1"
			aria-labelledby="characterGeneratorModal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel"
							th:text="#{modal.generate.title}"></h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<form th:action="@{/generate}" th:object="${characterFormVO}"
						method="post">
						<div class="modal-body">
							<div class="form-group">
								<fieldset>
									<legend th:text="#{modal.legend.archetypes}"></legend>
									<div class="container">
										<div class="row">
											<th:block th:each="archetype, index : ${archetypesList}">
												<div class="col-sm">
													<input type="checkbox" name="archetypes" th:id="${archetype.name}"
														th:value="${archetype.name}"> <label
														th:for="${archetype.name}"
														th:text="#{'archetypes.' + ${archetype.name}}"></label>
												</div>
											</th:block>
										</div>
									</div>
								</fieldset>
							</div>
							<div class="form-group">
								<fieldset>
									<legend th:text="#{modal.legend.species}"></legend>
									<div class="container">
										<div class="row">
											<th:block th:each="spec, index : ${speciesList}">
												<div class="col-sm">
													<input type="checkbox" name="species" th:id="${spec.name}"
														th:value="${spec.name}"> <label
														th:for="${spec.name}"
														th:text="#{'species.' + ${spec.name}}"></label>
												</div>
											</th:block>
										</div>
									</div>
								</fieldset>
							</div>
							<div class="form-group">
								<fieldset>
									<legend th:text=#{modal.legend.sex}></legend>
									<div class="container">
										<div class="row">
											<div class="col-sm">
												<select id="sex" name="sex" class="form-control">
													<option th:value="null" th:text="none"></option>
													<option th:each="gender : ${gendersList}" th:value="${gender}"
														th:text="#{${gender.i18nKey()}}"></option>
												</select>
											</div>
										</div>
								</fieldset>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal" th:text="#{modal.button.close}"></button>
							<input type="submit" class="btn btn-primary"
								th:value="#{modal.generate.save}" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>