<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<th:block th:fragment="modal">
		<!--/* <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
			  Launch demo modal
		</button> */-->
		<!-- Modal Character Generator -->
		<div class="modal fade" id="characterGeneratorModal" tabindex="-1"
			aria-labelledby="characterGeneratorModal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel"
							th:text="#{modal.generate.title}"></h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<form action="#" method="post" th:action="@{/generate}">
						<!-- 						th:object="${characterForm}"> -->
						<div class="modal-body">
							<div class="form-group">
<!-- 								<label for="species" th:text="#{modal.formgroup.species}"></label> -->
<!-- 								<select -->
<!-- 									class="form-control" id="species" name="species" -->
<!-- 									th:field="*{speciesEnum}"> -->
								<fieldset>
								<legend th:text="#{modal.legend.species}"></legend>
									<div class="container">
										<div class="row">
										<th:block th:each="spec, index : ${species}">
											<div class="col-sm">
												<input type="checkbox" name="species" th:id="${spec.name}" th:value="${spec.name}" >
												<label th:for="${spec.name}" th:text="#{'species.' + ${spec.name}}"></label>
											</div>
										</th:block>
										</div>
									</div>
								</fieldset>
							</div>
<!-- 							<div class="form-group"> -->
<!-- 								<label for="sex">Sex</label> <select class="form-control" -->
<!-- 									id="sex" name="sex" th:field="*{sex}"> -->
<!-- 									<option value="MALE">Male</option> -->
<!-- 									<option value="FEMALE">Female</option> -->
<!-- 								</select> -->
<!-- 							</div> -->
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal" th:text="#{modal.button.close}"></button>
							<button type="button" class="btn btn-primary"
								th:text="#{modal.generate.save}"></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>